<div class='app-menu-side-bar'>
  {{fa-icon 'navicon' class='app-menu-side-bar-icon' click=(action 'toggleDrawerState')}}
</div>
<div class='app-menu-drawer'>
  <div class='app-menu-drawer-nav-view' {{action 'navViewClicked'}} role='button'>
    {{app-name}}
  </div>
  <div class='app-menu-drawer-content'>
    {{yield}}
  </div>
</div>
