{{#form-modal errorMessage=errorMessage submit=(action 'submit') close=(action 'close') open=open title=title class=class}}
  <h4><strong>*Note*</strong> Upon successful completion you will have to verify your new account E-mail and sign in again.</h4>
  <div class='form-group'>
    <label for='new-email-box'>New E-mail</label>
    {{input
      id='new-email-box'
      type='text'
      class='form-control new-email'
      value=email
    }}
    <label for='password-box'>Confirm password</label>
    {{input
      id='password-box'
      type='password'
      class='form-control confirm-password'
      value=password
    }}
  </div>
{{/form-modal}}
