{{#form-modal errorMessage=errorMessage submit=(action 'submit') close=(action 'close') open=open title=title class=class}}
  <div class='form-group'>
    <label for='course-code-box'>Label</label>
    {{input
      id='label-box'
      type='text'
      class='form-control category-label'
      value=label
    }}
    {{#ember-scrollable class='icon-scroll' style='height: 200px;'}}
      <div class='icons'>
        {{#each icons as |icon|}}
          {{fa-icon icon class=(concat 'icon' (if (eq icon selectedIcon) ' selected' '')) click=(action 'iconSelected' icon)}}
        {{/each}}
      </div>
    {{/ember-scrollable}}
  </div>
{{/form-modal}}
