$drawer-width: 225px;
$side-bar-width: 50px;
$side-menu-nav-view-height: 90px;
$side-bar-shadow-color-1: rgba(0, 0, 0, .4);
$side-bar-shadow-color-2: rgba(0, 0, 0, .36);
$side-bar-shadow-color-3: rgba(0, 0, 0, .12);
$side-bat-shadow-inset-color: rgba(0, 0, 0, .46);

$drawer-border-color: #ddd;

.app-menu {
  display: flex;
  height: 100%;

  &-side-bar {
    width: $side-bar-width;
    height: calc(100% + 2px);
    margin-top: -2px;
    background-color: $color-primary;
    color: $color-label-text;
    text-align: center;
    box-shadow: 3px 0 5px 0 $side-bar-shadow-color-1, 3px 0 10px 0 $side-bar-shadow-color-2, inset 0 0 20px 10px $side-bar-shadow-color-3;

    &-icon {
      margin-top: 10px;
      color: $color-white;
      font-size: 2em;

      &:hover {
        color: $color-dark-accent;
        cursor: pointer;
      }

      &:active {
        color: $color-light-accent;
        cursor: pointer;
      }
    }
  }

  &-drawer {
    display: flex;
    flex-direction: column;
    width: $drawer-width;
    height: 100%;
    border: 1px solid $drawer-border-color;
    box-shadow: inset 2px 0 8px $side-bat-shadow-inset-color;

    &-nav-view {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $side-menu-nav-view-height;
      border-bottom: 1px solid $drawer-border-color;
      background-color: $color-primary;
      color: $color-label-text;
      font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
      font-size: $font-size-xxl;

      .buttons {
        display: flex;
        height: 40px;

        .close-drawer {
          margin-left: 10px;
        }
      }

      &-logo {
        width: 65px;
        height: 65px;
      }
    }

    &-content {
      position: relative;
      flex: 1 0 auto;
    }
  }

  &.is-open {
    .app-menu-side-bar {
      z-index: 1;
    }
  }
}
