$drawer-width: 225px;
$side-bar-width: 50px;
$side-menu-nav-view-height: 90px;
$side-bar-shadow-color-1: rgba(0, 0, 0, .4);
$side-bar-shadow-color-2: rgba(0, 0, 0, .36);
$side-bar-shadow-color-3: rgba(0, 0, 0, .12);
$side-bat-shadow-inset-color: rgba(0, 0, 0, .46);
$icon-shadow-color-1: rgba($color-black, .2);
$icon-shadow-color-2: rgba($color-black, .19);
$nav-view-color: rgba($color-primary, .9);

$drawer-border-color: #ddd;

.app-menu {
  display: flex;
  height: 100%;
  z-index: 1000;

  &-side-bar {
    width: 0;//$side-bar-width;
    height: calc(100% + 2px);
    margin-top: -2px;
    background-color: $color-primary;
    color: $color-label-text;
    text-align: center;
    box-shadow: 3px 0 5px 0 $side-bar-shadow-color-1, 3px 0 10px 0 $side-bar-shadow-color-2, inset 0 0 20px 10px $side-bar-shadow-color-3;

    &-icon {
      margin-top: 5px;
      margin-left: 5px;
      padding: 10px;
      border: 1px solid $color-dark-accent;
      border-radius: 50%;
      background-color: $color-primary;
      color: $color-white;
      font-size: 1.4em;
      text-shadow: 1px 1px 1px $color-black;
      box-shadow: 0 2px 8px 0 $icon-shadow-color-1, 0 3px 20px 0 $icon-shadow-color-2;

      &:hover {
        margin-top: 3px;
        margin-left: 3px;
        padding: 12px;
        background-color: $color-dark-accent;
        cursor: pointer;
      }

      &:active {
        color: $color-light-accent;
        cursor: pointer;
      }
    }
  }

  &-drawer {
    display: flex;
    flex-direction: column;
    width: $drawer-width;
    margin-top: $action-buttons-height;
    background-color: $color-white;
    box-shadow: 4px 4px 10px $side-bat-shadow-inset-color;

    &-nav-view {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $side-menu-nav-view-height;
      border-bottom: 1px solid $drawer-border-color;
      background-color: $nav-view-color;
      color: $color-label-text;
      font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
      font-size: $font-size-xxxxl;

      .buttons {
        display: flex;
        height: 40px;

        .close-drawer {
          margin-left: 10px;
        }
      }

      &-logo {
        width: 65px;
        height: 65px;
      }
    }

    &-content {
      position: relative;
      flex: 1 0 auto;
      background-color: $color-white;
    }
  }

  &.is-open {
    .app-menu-side-bar {
      z-index: 1;
    }
  }
}
