.app-name {
  display: flex;
  align-items: center;
  color: $color-dark-accent;
  font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
  font-size: $font-size-xxxl;
  font-weight: bold;
  text-shadow: 0 1px 1px $color-black;

  &-logo {
    height: 60px;
    margin-right: -5px;
    margin-left: 5px;
  }
}
