$action-buttons-height: 50px !global;
$footer-height: 30px !global;
$header-vertical-margin: 40px !global;
$content-top-padding: 5px;

@import 'ember-bootstrap/bootstrap';
@import 'colors';
@import 'typography';

@import 'about';
@import 'account';
@import 'app-menu';
@import 'categories';
@import 'category-renderer';
@import 'changeable-item';
@import 'change-email-modal';
@import 'change-password-modal';
@import 'completed-filter';
@import 'course';
@import 'course-list';
@import 'course-renderer';
@import 'course-report';
@import 'course-work-renderer';
@import 'create-category-modal';
@import 'create-course-modal';
@import 'create-term-modal';
@import 'download-modal';
@import 'filtered-list';
@import 'late-filter';
@import 'multi-select';
@import 'ordered-list';
@import 'percent-input';
@import 'reset-password';
@import 'sign-in';
@import 'sign-up';
@import 'term-renderer';
@import 'term';
@import 'terms';
@import 'timetable';
@import 'user-dashboard';
@import 'week-schedule';
@import 'workflow-course-work-renderer';
@import 'workflow';

$action-button-shadow-color-1: rgba($color-black, .2);
$action-button-shadow-color-2: rgba($color-black, .19);
$action-bar-border-color: rgba($color-dark-accent, .2);
$overlay-color: rgba($color-black, .5);

html,
body {
  height: 100%;
  margin: 0;
}

body > .ember-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.application {
  display: flex;
  width: 100%;
  height: calc(100% - #{$footer-height});
}

.app-name {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: $font-size-xxxl;

  &-logo {
    height: 100px;
    margin-right: -5px;
    margin-left: 5px;
  }
}

.important-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: $font-size-m;
}

.checking-connection,
.loading-data {
  display: flex;
  align-items: center;
}

.loading-data-message {
  height: calc(100% - #{$action-buttons-height});
}

.application-error-message {
  height: 100%;
}

.spinner {
  width: 31px;
  height: 31px;
  margin: 0 10px;
  background: url('/ajax-loader.gif') no-repeat;
}

.refresh {
  font-size: $font-size-xl;

  .fa {
    margin: 0 10px;
  }
}

.page-header {
  margin-top: 20px;
  font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
}

.app-menu {
  position: absolute;
  top: 0;
  left: 0;

  .list-group {
    width: 100%;

    a {
      color: $color-black;

      &:hover,
      &.active {
        text-decoration: none;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      background-color: initial;
      font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
      text-overflow: clip;
      overflow: hidden;

      &:not(.disabled) {
        &:hover {
          background-color: $color-primary;
          color: $color-white;
          cursor: pointer;
        }

        &:active {
          background-color: $color-primary-light;
        }
      }

      .fa {
        flex: 0 0 50px;
        margin-left: 15px;
        font-size: 1.2em;
      }
    }
  }

  &-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  position: relative;
  flex: 1 0 auto;
  height: 100%;
  padding: 5px 25px 25px;
  overflow-y: auto;

  .overlay {
    position: absolute;
    top: $action-buttons-height;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay-color;
    z-index: 500;
  }

  .action-buttons {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
    height: $action-buttons-height;
    margin: -5px -25px 0;
    padding: 5px;
    border-bottom: 1px solid $action-bar-border-color;
    background-color: $color-primary;
    box-shadow: 0 4px 8px 0 $action-button-shadow-color-1, 0 3px 20px 0 $action-button-shadow-color-2;

    .fa {
      margin: 5px;
      color: $color-white;
      font-size: 2em;
      text-shadow: 1px 1px 1px $color-black;

      &:hover {
        color: $color-dark-accent;
        cursor: pointer;
      }

      &:active {
        color: $color-light-accent;
        cursor: pointer;
      }
    }
  }

  .authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - #{$action-buttons-height});

    &-header {
      display: inline-block;
    }

    &-buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 10px;
      }
    }
  }
}

.back-arrow {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: $color-primary;
  font-size: 2em;

  &:hover {
    color: $color-dark-accent;
    cursor: pointer;
  }

  &:active {
    color: $color-light-accent;
  }
}

.need-to-sign-in {
  padding: 30px 10px;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  background-color: $color-primary;
  color: $color-white;
}

.instructions {
  color: $color-grey;
  font-size: $font-size-m;
}

.is-visible {
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
}

.is-gone {
  display: none;
}
