@import 'ember-bootstrap/bootstrap';
@import 'colors';
@import 'typography';

@import 'reset-password';
@import 'sign-in';
@import 'sign-up';

$side-menu-width-open: 300px;
$side-menu-width-closed: 50px;

.side-menu {
  position: absolute;
  left: 0;
  height: 100%;
  border-right: 1px solid $color-grey;

  &.is-open {
    width: $side-menu-width-open;
  }

  &.is-closed {
    width: $side-menu-width-closed;
    background-color: $color-primary;
    color: $color-label-text;
    text-align: center;
  }

  .close-drawer,
  .open-drawer {
    margin-top: 5px;
    color: $color-black;
    font-size: 2em;

    &:hover {
      color: $color-dark-accent;
      cursor: pointer;
    }

    &:active {
      color: $color-light-accent;
      cursor: pointer;
    }
  }

  .nav-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid $color-grey;
    background-color: $color-primary;
    color: $color-label-text;

    .buttons {
      display: flex;
      height: 40px;

      .close-drawer {
        margin-left: 10px;
      }
    }

    .title {
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      justify-content: center;
      font-family: $font-family-base;
      font-size: $font-size-xxl;
    }

    .logged-in-as {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
  }

  .list-group {
    &-item {
      margin-bottom: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      font-size: $font-size-m;

      &.disabled {
        background-color: $color-disabled-background;
        color: $color-disabled-text;
      }

      &:not(.disabled) {
        &:hover {
          background-color: $color-primary;
          color: $color-white;
          cursor: pointer;
        }

        &:active {
          background-color: $color-primary-light;
        }
      }

      .fa {
        width: 60px;
      }
    }
  }
}

.is-open {
  + .content {
    left: $side-menu-width-open;
    width: calc(100% - #{$side-menu-width-open});
  }
}

.is-closed {
  + .content {
    left: $side-menu-width-closed;
    width: calc(100% - #{$side-menu-width-closed});
  }
}

.content {
  position: absolute;
  height: 100%;
  padding: 15px;

  .action-buttons {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
    height: 40px;

    .fa {
      margin: 5px;
      color: $color-primary;
      font-size: 2em;

      &:hover {
        color: $color-dark-accent;
        cursor: pointer;
      }

      &:active {
        color: $color-light-accent;
        cursor: pointer;
      }
    }
  }

  .authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &-header {
      display: inline-block;
    }

    &-buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 10px;
      }
    }
  }
}

.instructions {
  color: $color-grey;
  font-size: $font-size-m;
}

.is-visible {
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
}

.is-gone {
  display: none;
}
