$action-buttons-height: 40px !global;
$header-vertical-margin: 40px !global;

@import 'ember-bootstrap/bootstrap';
@import 'colors';
@import 'typography';

@import 'account';
@import 'app-menu';
@import 'categories';
@import 'category-renderer';
@import 'changeable-item';
@import 'change-email-modal';
@import 'change-password-modal';
@import 'course';
@import 'course-list';
@import 'course-renderer';
@import 'course-report';
@import 'course-work-renderer';
@import 'create-category-modal';
@import 'create-course-modal';
@import 'create-term-modal';
@import 'download-modal';
@import 'filtered-list';
@import 'multi-select';
@import 'ordered-list';
@import 'percent-input';
@import 'reset-password';
@import 'sign-in';
@import 'sign-up';
@import 'term-renderer';
@import 'term';
@import 'terms';
@import 'timetable';
@import 'user-dashboard';
@import 'version-modal';
@import 'week-schedule';
@import 'workflow-course-work-renderer';
@import 'workflow';

html,
body {
  height: 100%;
  margin: 0;
}

body > .ember-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.application {
  display: flex;
  width: 100%;
  height: 100%;
}

.no-internet-connection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: $font-size-m;
}

.page-header {
  margin-top: 20px;
  font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
}

.app-menu {
  &-sign-in {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: $color-disabled-background;
  }

  .download {
    margin-top: 20px;
    color: $color-primary;
    font-size: 3em;

    &:hover {
      color: $color-dark-accent;
      cursor: pointer;
    }

    &:active {
      color: $color-light-accent;
    }
  }

  .list-group {
    width: 100%;

    a {
      color: $color-black;

      &:hover,
      &.active {
        text-decoration: none;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      background-color: initial;
      font-family: 'Segoe UI', 'Helvetica', Garuda, Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
      text-overflow: clip;
      overflow: hidden;

      &:not(.disabled) {
        &:hover {
          background-color: $color-primary;
          color: $color-white;
          cursor: pointer;
        }

        &:active {
          background-color: $color-primary-light;
        }
      }

      .fa {
        flex: 0 0 50px;
        margin-left: 15px;
      }
    }
  }

  &-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  position: relative;
  flex: 1 0 auto;
  height: 100%;
  padding: 5px 25px 25px;
  overflow-y: auto;

  .action-buttons {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 0 -20px;
    border-bottom: 1px solid $bootstrap-border-color;

    .fa {
      margin: 5px;
      color: $color-primary;
      font-size: 2em;

      &:hover {
        color: $color-dark-accent;
        cursor: pointer;
      }

      &:active {
        color: $color-light-accent;
        cursor: pointer;
      }
    }
  }

  .authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - #{$action-buttons-height});

    &-header {
      display: inline-block;
    }

    &-buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 10px;
      }
    }
  }
}

.back-arrow {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: $color-primary;
  font-size: 2em;

  &:hover {
    color: $color-dark-accent;
    cursor: pointer;
  }

  &:active {
    color: $color-light-accent;
  }
}

.instructions {
  color: $color-grey;
  font-size: $font-size-m;
}

.is-visible {
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
}

.is-gone {
  display: none;
}
