.category-renderer {
  display: flex;
  align-items: center;

  .category-label {
    font-size: $font-size-m;
  }

  .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border: 1px solid $color-grey;
    border-radius: 2px;
    font-size: 1.5em;
  }
}
