// $color-primary: #87a6c5;
$color-primary: #337ab7;
$color-primary-light: #9fb7d0;
$color-dark-dark: #2e6da4;
$color-highlight: #00ced1;
$color-light-accent: #70a1cc;
$color-dark-accent: #235580;
$color-label-text: #fff;
$bootstrap-border-color: #eee;

$color-black: #000;
$color-white: #fff;
$color-grey: #808080;
$color-light-grey: #eaeaea;
$color-mid-light-grey: #d3d3d3;
$color-shadow: #ddd;
$color-red: #f00;
$color-orange: #ffa500;
$color-dark-orange: #e59400;
$color-green: #008000;
$color-yellow: #cc0;
$color-eggshell: #fefefe;

$color-disabled-background: rgba($color-light-grey, .6);

$color-charcoal: #282c34;

$font-color: #515151;
