.course-work-renderer {
  display: flex;
  align-items: center;

  .left-portion {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;

    .label {
      color: inherit;
      font-size: $font-size-m;
      padding: 0;
    }
  }

  .weight,
  .grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 15px;
    margin-right: 15px;

    &-label {
      font-weight: bold;
    }
  }
}
