.course {
  margin: 0 20px;

  &-header {
    display: flex;
    align-items: flex-end;

    &-title {
      flex: 1 0 auto;
    }

    &-create-button {
      flex: 0 0 auto;
      padding: 6px;
      color: $color-primary;
      font-size: 1.5em;

      &:hover
      &:active {
        color: $color-dark-accent;
        text-decoration: none;
      }
    }
  }

  &-sub-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5px;

    .course-work-create-button {
      padding: 6px;
      color: $color-primary;
      font-size: 1.2em;

      &:hover,
      &:focus,
      &:active {
        color: $color-dark-accent;
        text-decoration: none;
      }
    }
  }
}

.create-course-work-modal {
  label {
    margin-top: 15px;
  }
}
