.download-modal {
  .platforms {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 10px 0;

    .os {
      display: flex;
      align-items: flex-end;
      margin: 5px 15px;

      &-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        color: $color-black;
        font-size: $font-size-m;
      }

      &-icon {
        color: $color-black;
        font-size: 3em;
      }

      &-versions {
        padding: 10px;
        color: $color-grey;
        font-size: $font-size-xs;
      }

      &-links {
        font-size: $font-size-s;
      }
    }
  }

  &.is-mobile {
    .desktop {
      display: none;
    }
  }

  &.is-desktop {
    .mobile-warning {
      display: none;
    }
  }
}
