.ordered-list {

  .list-group-item {
    display: flex;
    align-items: center;
    padding: 0 15px;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      cursor: pointer;

      .fa {
        border-color: $color-white;
      }
    }

    &:active {
      background-color: $color-primary-light;
    }

    .ordered-item {
      flex: 1 0 auto;
    }

    .menu-button {
      margin-right: 5px;
      margin-left: 10px;
      padding: 10px 0;
    }

    .menu-icon {
      color: $color-primary-light;
      font-size: 1.8em;

      &:hover {
        color: $color-dark-accent;
      }

      &:active {
        color: $color-light-accent;
      }
    }

    .dropdown-menu-item-icon {
      margin: 5px 10px;
    }

    .dropdown-menu {
      left: -120px;

      &-item {
        color: $color-black;

        &:hover {
          color: $color-dark-accent;
        }
      }
    }

    .decrement-icon {
      margin-bottom: -3px;
      transform: rotate(-90deg) scaleX(.7);
    }

    .increment-icon {
      margin-top: -3px;
      transform: rotate(90deg) scaleX(.7);
    }
  }
}
