.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-sent {
    display: inline-block;
    position: relative;
    flex: 0 0 auto;

    &-button-container {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }

  &-form {
    display: inline-block;
    position: relative;
    flex: 0 0 auto;

    &-button {
      &-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }

    .ember-text-field {
      margin-top: 20px;
    }
  }

  .alert {
    margin-top: 20px;
  }
}
