.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-form {
    display: inline-block;
    position: relative;
    flex: 0 0 auto;

    .ember-text-field {
      &:nth-child(1) {
        margin-top: 40px;
      }
    }

    &-button {
      margin-top: 10px;

      &-container {
        display: flex;
        justify-content: flex-end;
      }
    }

    &-label {
      padding-bottom: 5px;
      font-size: $font-size-s;
      font-weight: bold;
    }

    &-credentials {
      margin-top: 20px;

      .ember-text-field {
        margin-bottom: 10px;
      }
    }

    &-password-tooltip {
      text-align: left;
    }
  }

  .alert {
    margin-top: 20px;
  }
}
