.due-next-week-renderer,
.workflow-course-work-renderer {
  display: flex;
  align-items: center;

  .left-portion {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .label {
      display: flex;
      padding: 0;
      color: inherit;
      font-size: $font-size-m;

      .fa-check-circle {
        margin-left: 2px;
        color: $color-green;
      }

      .fa-exclamation-circle {
        margin-left: 2px;
        color: $color-red;
      }

      .fa-exclamation-triangle {
        margin-left: 2px;
        color: $color-yellow;
      }

      .work-course {
        font-size: $font-size-s;
        font-weight: normal;
        font-style: italic;
      }
    }

    .due {
      padding: 0;
    }
  }

  .category {
    .fa {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border: 1px solid $color-grey;
      border-radius: 2px;
      font-size: 1.5em;
    }
  }

  .due,
  .weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
