.workflow {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$action-buttons-height});
  margin: 0 20px;

  .list-scrollable {
    flex: 1 0 auto;
    width: 100%;
    height: auto;

    .scrollable-content {
      padding-right: 15px;
    }
  }

  &-header {
    flex: 0 0 auto;
  }

  .due-after-filter,
  .due-before-filter {
    .ember-text-field {
      width: auto;
    }

    .input-group-addon {
      width: auto;
    }
  }
}
