<div class='documentation'>
  <div class='page-header documentation-header'>
    {{#link-to 'docs'}}
      {{fa-icon 'arrow-left' class='back-arrow'}}
    {{/link-to}}
    <h1 class='documentation-header-title'>Help Topic: How to change your account E-mail address</h1>
  </div>
  <p class='help-content'>
    In order to change your account you first need to login to your account.
  </p>
  <p class='help-content'>
    Once you have successfully signed in click on the {{fa-icon 'user'}} icon
    in the top right corner of the screen.
  </p>
  <p class='help-content'>
    Once on your "Account details" page, click on the "Change E-mail" button.
  </p>
  <p class='help-content'>
    Once the "Change account E-mail" dialog window appears, input your new account E-mail address into
    "New E-mail" textbox and your account password into the "Confirm Password" textbox. Now click on the "Submit" button.
    <div class='alert alert-info' role='alert'>
      <strong>Note:</strong> if you click outside the dialog window or click on
      the "Cancel" button, your account E-mail address will remain unchanged.
    </div>
  </p>
  <p class='help-content'>
    If your account E-mail address is successfully changed, an E-mail will be sent to your
    new account E-mail address. Click on the link in the E-mail message to verify
    your new account E-mail address.
  </p>
  <p class='help-content'>
    You should now be able to login to your account using the new E-mail address.
    <div class='alert alert-info' role='alert'>
      <strong>Note:</strong> your account password will be unchanged.
    </div>
  </p>
</div>
