<div class='documentation'>
  <div class='page-header documentation-header'>
    {{#link-to 'docs'}}
      {{fa-icon 'arrow-left' class='back-arrow'}}
    {{/link-to}}
    <h1 class='documentation-header-title'>Help Topic: How to change your account password</h1>
  </div>
  <p class='help-content'>
    In order to change your account you first need to login to your account.
  </p>
  <p class='help-content'>
    Once you have successfully signed in click on the {{fa-icon 'user'}} icon
    in the top right corner of the screen.
  </p>
  <p class='help-content'>
    Once on your "Account details" page, click on the "Change password" button.
  </p>
  <p class='help-content'>
    Once the "Change account password" dialog window appears, input your current account password into
    "Current password" textbox. Enter your new account password into the "New password" and
    "Confirm new password" textboxes. Now click on the "Submit" button.
    <div class='alert alert-info' role='alert'>
      <strong>Note:</strong> while inputting your new password a popup bubble will appear which
      will indicate if your password conforms with Ordino's secure password policy. A password
      must be at least 6 characters long, contain at least one numeric character, contain at least one
      lowercase letter, and contain at least one uppercase letter.
    </div>
  </p>
  <p class='help-content'>
    If your account password is successfully changed, you will be signed out and are now able
    to sign into your account using your new password.
  </p>
</div>
