<div class='documentation'>
  <div class='page-header documentation-header'>
    {{#link-to 'docs'}}
      {{fa-icon 'arrow-left' class='back-arrow'}}
    {{/link-to}}
    <h1 class='documentation-header-title'>Help Topic: How to create a new account</h1>
  </div>
  <div class='alert alert-warning' role='alert'>
    <strong>Note:</strong> you need to sign out if an account session is already open.
  </div>
  <p class='help-content'>
    From the homepage of the website, click on the "Sign Up" button.
  </p>
  <p class='help-content'>
    Once you are on the sign up page, start by entering your "First name" and "Last name"
    into their respective text boxes.
  </p>
  <p class='help-content'>
    Enter into the "E-mail" textbox an E-mail address that is not already associated with an Ordino account.
  </p>
  <p class='help-content'>
    Enter an account password into the "Password" and
    "Confirm password" textboxes. Now click on the "Sign Up" button.
    <div class='alert alert-info' role='alert'>
      <strong>Note:</strong> while inputting your new password a popup bubble will appear which
      will indicate if your password conforms with Ordino's secure password policy. A password
      must be at least 6 characters long, contain at least one numeric character, contain at least one
      lowercase letter, and contain at least one uppercase letter.
    </div>
  </p>
  <p class='help-content'>
    If your new account is successfully created, an E-mail will be sent to your
    account E-mail address. Click on the link in the E-mail message to verify
    your account E-mail address.
  </p>
  <p class='help-content'>
    You should now be able to login to your account using your new account credentials.
  </p>
</div>
