<div class='documentation'>
  <div class='page-header documentation-header'>
    <h1 class='documentation-header-title'>Help Documentation</h1>
  </div>
  {{#link-to 'docs.faq' class='btn btn-link'}}
    Frequently Asked Questions (FAQ)
  {{/link-to}}
  {{#link-to 'docs.create-account' class='btn btn-link'}}
    Create a new account
  {{/link-to}}
  {{!-- {{#link-to 'docs.getting-started' class='btn btn-link'}}
    Getting started
  {{/link-to}} --}}
  {{#link-to 'docs.change-email' class='btn btn-link'}}
    Changing your account E-mail
  {{/link-to}}
  {{#link-to 'docs.change-password' class='btn btn-link'}}
    Changing your account password
  {{/link-to}}
</div>
