<div class='workflow'>
  <div class='page-header workflow-header'>
    <h1 class='workflow-header-title'>WorkFlow</h1>
  </div>
  {{#if haveCurrentTerm}}
    {{#ember-scrollable class='list-scrollable'}}
      {{filtered-list
        groups=listItems
        item-renderer=(component 'workflow-course-work-renderer')
        filters=(array
          (hash
            value=categoryToFilter
            view=(component 'category-filter' value=categoryToFilter categories=categories)
            passes=categoryValidator
          )
          (hash
            value=courseToFilter
            view=(component 'course-filter' value=courseToFilter courses=courses)
            passes=courseValidator
          )
          (hash
            value=dueAfterToFilter
            view=(component 'due-after-filter' value=dueAfterToFilter)
            passes=dueAfterValidator
          )
          (hash
            value=dueBeforeToFilter
            view=(component 'due-before-filter' value=dueBeforeToFilter)
            passes=dueBeforeValidator
          )
          (hash
            value=minWeightToFilter
            view=(component 'min-weight-filter' value=minWeightToFilter)
            passes=minWeightValidator
          )
          (hash
            value=maxWeightToFilter
            view=(component 'max-weight-filter' value=maxWeightToFilter)
            passes=maxWeightValidator
          )
        )
        onItemSelected=(action 'showEditCourseWorkModal')
      }}
    {{/ember-scrollable}}
    {{create-course-work-modal
      open=editCourseWork
      title='Edit course work'
      course=(readonly itemToEdit.cid)
      courses=(sort-by 'course-code' courses)
      categories=(readonly categories)
      label=(readonly itemToEdit.label)
      weight=(readonly itemToEdit.weight)
      grade=(readonly itemToEdit.grade)
      due=(readonly (moment itemToEdit.due))
      category=(readonly itemToEdit.cgyid)
      onClose=(action 'hideEditCourseWorkModal')
      onSubmit=(action 'editCourseWork')
    }}
  {{else}}
    <div class='alert alert-danger'>
      <strong>Error!</strong> You have no term selected as your current term.
    </div>
  {{/if}}
</div>
