<div class='about'>
  <div class='about-version'>
    <h1 class='about-app-name'>
      <div class='about-app-name-remainder'>
        About&thinsp;
      </div>
      <img class='about-app-name-logo' src='/assets/images/logo.png' alt='O'>
      <div class='about-app-name-remainder'>
        rdino<sup>&copy;</sup>
      </div>
    </h1>
    <div class='about-details'>
      <div class='about-details-values'>
        <div class='about-details-value'><div class='label label-primary'>Version</div> {{app-version hideSha=true}}</div>
        <div class='about-details-value'><div class='label label-primary'>Build</div> {{app-version hideVersion=true}}</div>
      </div>
      {{!-- <div class='about-details-values'>
        <div class='about-detail'>
          {{app-version hideSha=true}}
        </div>
        <div class='about-detail'>
          {{app-version hideVersion=true}}
        </div>
      </div> --}}
    </div>
  </div>
  {{! template-lint-disable block-indentation }}
  <div class='about-description'>
    <div class='about-description-text'>
      &emsp;Ordino is a school organization app, developed by students, to help address the organizational needs of all students. We hope it will help you reach all your educational goals. Please report any issues you have and suggest improvements by clicking on the button below.
      <br>
      <br>
      Ordino, student organization on the go.
    </div>
  </div>
  {{! template-lint-enable block-indentation }}
  <div class='btn-container'>
    <a class='btn btn-primary' href='mailto:quadrigadev@gmail.com'>Report issue</a>
  </div>
</div>
