<div class='important-message loading-data-message'>
  <h1 class='app-name'>
    <img class='app-name-logo' src='/assets/images/logo.png' alt='O'>rdino<sup>&copy;</sup>
  </h1>
  <div class='alert alert-info loading-data'><div class='spinner'></div>Loading data...</div>
</div>
